[Unit]
Description=e-Navigation Message Broker Service
After=syslog.target

[Service]
ExecStart=/opt/e-nav/messageBroker/messageBroker.jar

[Install]
WantedBy=multi-user.target